@tailwind base;
@tailwind components;
@tailwind utilities;

.css-mvs481 {
  padding: 0.25rem !important;
}

.css-jd7pm9-MuiListItemText-root span {
  font-weight: 400 !important;
}

.css-1x3v3vy {
  background: #1694c4 !important;
}
